@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&display=swap');

:root {
  --background-color: #201F29;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: white;
  font-family: 'Dosis', sans-serif;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 0 5px;
}

.header-img {
  max-height: 50%;
  max-width: 100%;
  display: block;
}

.header-container {
  position: relative;
  text-align: center;
}

.header-text {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

.nav {
  font-size: 25px;
}

.nav-btn {
  width: 100px;
  height: 50px;
}

@media screen and (max-width: 980px) {
  .header-text {
    font-size: 75px;
  }
}

@media screen and (max-width: 768px) {
  .header-text {
    font-size: 50px;
  }
}

@media screen and (max-width: 575px) {
  .header-text {
    font-size: 25px;
  }

  .calendar {
    max-height: 50px;
  }
}