@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&display=swap');

:root {
  --background-color: #201F29;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: white;
  font-family: 'Dosis', sans-serif;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 0 5px;
}
